.application.sheet.daggerheart.actor.dh-style.adversary .adversary-sidebar-sheet .threshold-section h4,
.application.sheet.dh-style .character-sidebar-sheet .info-section .threshold-section h4 {
    font-size: 11px;
}

.application.sheet.dh-style .character-sidebar-sheet .info-section .status-section .status-number .status-label {
    padding: 2px 5px;
}

.application.sheet.dh-style .character-sidebar-sheet .info-section .status-section .status-bar.armor-slots .status-label h4,
.application.sheet.dh-style .character-sidebar-sheet .info-section .status-section .status-number .status-label h4 {
    font-size: 10px;
}

.application.sheet.daggerheart.actor.dh-style.character .character-header-sheet .character-traits .trait .trait-name {
    font-size: 13px;
}

.application.setting.dh-style .form-group label {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.daggerheart.dh-style.dialog.character-creation .main-selections-container .traits-container .traits-inner-container .trait-container div,
.application.daggerheart.dh-style.dialog .tab.details
.traits-inner-container .trait-container div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 6ch;
    display: block;
}

.daggerheart.dh-style.dialog.character-creation .main-selections-container .traits-container .traits-inner-container .trait-container div {
    margin: 0 auto;
}

.daggerheart.dh-style.dialog.character-creation .main-selections-container .equipment-selection legend {
    font-size: 20px;
}

.daggerheart.dh-style.dialog.character-creation .tab-navigation nav.tabs {
    line-height: normal;
    gap: 0.6rem;
}

.daggerheart.dh-style.dialog.character-creation .tab-navigation nav a {
    line-height: 1.15;
    padding: .25rem;
}

.application.daggerheart.dialog.dh-style.views.roll-selection .roll-dialog-container .dices-section .dice-option {
    width: auto;
    min-width: 140px;
    max-width: 240px;
}

.application.daggerheart.dh-style .inventory-item .inventory-item-header .item-label{
    width: 100px;
}

.application.daggerheart.dh-style .inventory-item .inventory-item-header .item-label .item-tags .tag, .application.daggerheart.dh-style .inventory-item .inventory-item-header .item-label .item-labels .tag, .application.daggerheart.dh-style .inventory-item .inventory-item-header .item-label .item-tags .label, .application.daggerheart.dh-style .inventory-item .inventory-item-header .item-label .item-labels .label {
    font-size: 11px;
}

.application.daggerheart.dh-style .inventory-item .inventory-item-header .item-label .item-labels .label {
    display: block;
}